<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	 http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:mybatis/db.properties"></context:property-placeholder>


    <!--
        连接数据库，需要数据库连接池
        c3p0,dpcp,druid：管理数据库连接
        数据源dataSource
    -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!--url,用户名-->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--配置sqlSessionFactory-->
    <bean id="sqlSessionFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--set注入，将数据库连接池赋值-->
        <property name="dataSource" ref="dataSource" />
        <!--Mybatis扫描包，给实体类指定别名 默认首字母小写-->
        <property name="typeAliasesPackage" value="com.bjpowernode.crm.settings.bean,
                                                    com.bjpowernode.crm.workbench.bean"></property>

        <!--批量扫描映射文件-->
        <property name="mapperLocations" value="classpath:mappers/*.xml"></property>

        <!--导入SqlMapConfig.xml-->
        <property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />


        <!--分页插件-->
        <!--配置PageHelper-->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <props>
                            <!--dialect:数据库方言-->
                            <prop key="dialect">mysql</prop>
                            <prop key="supportMethodsArguments">true</prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <!--扫描Mapper接口:为了给Mapper接口创建代理类-->
    <!--
        org.mybatis.spring.mapper.MapperScannerConfigurer:只支持普通操作
        tk.mybatis.spring.mapper.MapperScannerConfigurer:
        既能做多表的复杂查询，也能使用通用Mapper的单表查询
    -->
    <!--指定mapper接口-->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bjpowernode.crm.settings.mapper,
                                            com.bjpowernode.crm.workbench.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

</beans>